a {
  text-decoration: none;
}

.thumbNote {
  padding: 8px;
  border: 0;
  border-bottom: 1.5px solid gray;
}

.thumbNote:hover {
  background-color: #9e9e9e2b;
}

.thumbNote h2 {
  margin: 8px;
  color: black;
  word-wrap: break-word;
}

.thumbNote span {
  color: gray;
  font-size: 15px;
  word-wrap: break-word;
}